@model ASP.NET_HoangCongSon.Context.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


        <h2>Bạn có chắc chắn muốn xóa sản phẩm này không?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Avartar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Avartar)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShortDes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShortDes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FullDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>

            @using (Html.BeginForm("Delete", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Quay lại", "ProductList")
                </div>
            }
        </div>